{% extends 'user/profile.html' %}
{% load static %}
{% block title %}
    Справочник подразделений
{% endblock %}
{% block content %}
<div >
    <button class="add_btn"><a href="{% url 'main:add_department' %}" >Добавить подразделение предприятия</a></button>
</div>


<h2 class="h_manager">Сотрудники подразделения</h2>
    <div class="cost_pr">
         <table class="table_profile" width = "100%" border = "1">
             <tr>
                 <th class="">
                     <h5>Название подразделения</h5>
                 </th>
                 <th class="">
                     <h5>Фамилии сотрудников</h5>
                 </th>
             </tr>
             <tr>
                 <td>{{department.name}}</td>
                 <td>{{department.employeed.all|join:","}}</td>
             </tr>
         </table>

<h2 class="h_manager">Справочник подразделений предприятия</h2>
    <div class="cost_pr">
         <table class="table_profile" width = "100%" border = "1">
             <tr>
                 <th class="">
                     <h5>Все подразделения</h5>
                 </th>
                 <th class="">
                     <h5>Все сотрудники подразделения</h5>
                 </th>
             </tr>
             {% for item in all_departments %}
             <tr>
                 <td class="td">
                    <a href="{% url 'main:department' item.id %}" >{{item}}</a>
                 </td>
                 <td class="td">
                    <a href="{% url 'main:department' item.id %}" >Фамилии сотрудников отдела</a>
                 </td>
                  <td class="td"><a href="del_department/{{item.id}}">Удалить отдел </a></td>
                <div>
                    <h1>{{text}}</h1>
                </div>
             </tr>
             {% endfor %}
         </table>
{% endblock %}
            </div>

