{% extends 'pages/base.html' %}
{% load static%}

{% block title %}
     Изменить пароль
{% endblock%}

{% block content %}
<section class="wrapper">
    <div class="change_password_page">
        <div class="wrapper_change_password">
            <div class="wrapper_form_ch">
                <form action="." method="post" class="form_hw">
                    {% csrf_token %}
                    <table>
                        <tr >
                            <div>{{ form }}</div>
                        </tr>
                        <div class="message_success">{{message}}</div>
                    </table>
                        <button><h1> Сменить пароль</h1></button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
