{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>{% block title %} Веб приложение {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header >
        <div class="header">
            <div class="wrapper">
                <div class="header_wrapper_nav">
                    <nav class="header__nav">
                        <h3>Добро пожаловать</h3>
                        {% if user.is_authenticated %}
                        <h3>{{ request.user}} !</h3>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </header>

{%block navbar%}
    <a href="{% url 'main:register' %}" class="log_reg_inner">Регистрация</a>
    <a href="{% url 'main:logout' %}" class="log_reg_inner">Выход</a>
    <a href="{% url 'main:change_password' %}" class="log_reg_inner">Сменить пароль</a>
    <div class="message_error">{{error}}</div>
{% endblock %}

    <div class="main_container">
        <div class="left_sidebar">
             {% block leftsidebar %}
            <div class="main_container_inner">
                <button><a href="{% url 'main:departments' %}">Справочник подразделений предприятия</a></button>
            </div>
            <div class="main_container_inner">
                <button><a href="{% url 'main:positions' %}">Справочник должностей</a></button>
            </div>
            <div class="main_container_inner">
                <button><a href="{% url 'main:employees' %}" style="text-decoration:none;">Справочник сотрудников</a></button>
            </div>

        </div>
         <div class="main_manager">
            {% block content %}
             <h1>{{text}}</h1>
            {% endblock %}
        </div>
    {% endblock %}
    </div>


</body>
</html>